@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 60 10% 20%;
    --card: 60 56% 96%;
    --card-foreground: 60 10% 20%;
    --popover: 60 56% 96%;
    --popover-foreground: 60 10% 20%;
    --primary: 88 50% 30%;
    --primary-foreground: 60 56% 96%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 60 10% 20%;
    --muted: 60 30% 85%;
    --muted-foreground: 60 10% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 60 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 88 50% 30%;
    --radius: 0.5rem;
    --chart-1: 88 50% 30%;
    --chart-2: 51 100% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 60 10% 15%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 88 50% 30%;
    --sidebar-primary-foreground: 60 56% 96%;
    --sidebar-accent: 88 50% 30%;
    --sidebar-accent-foreground: 60 56% 96%;
    --sidebar-border: 60 10% 25%;
    --sidebar-ring: 88 50% 30%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 88 60% 50%;
    --primary-foreground: 88 50% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 88 60% 50%;

    --chart-1: 88 60% 50%;
    --chart-2: 51 100% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 88 60% 50%;
    --sidebar-primary-foreground: 88 50% 10%;
    --sidebar-accent: 88 60% 50%;
    --sidebar-accent-foreground: 88 50% 10%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 88 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
